// .header {
//     background-color: $white;
//     padding: 10px 15px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 999;
//     width: 100%;
//     border-radius: 0px 0px 40px 40px;

//     &-content {
//         display: flex;
//         align-items: center;

//         .mobile-btn {
//             width: 50px;
//             height: 50px;
//             border: 2px solid $titleColor;
//             border-radius: 3px;
//             display: none;
//             justify-content: center;
//             align-items: center;
//             cursor: pointer;
//             margin-left: auto;

//             i {
//                 font-size: 22px;
//                 color: $titleColor;
//             }

//             @media (max-width: 991.98px) {
//                 display: flex;
//             }
//         }

//         .list {
//             margin: auto;

//             ul {
//                 display: flex;

//                 li {
//                     a {
//                         display: block;
//                         font-family: $titleFont;
//                         font-size: 18px;
//                         color: #617487;
//                         padding: 5px 10px;

//                         @media (max-width: 1200px) {
//                             font-size: 16px;
//                             padding: 5px 8px;
//                         }
//                     }

//                     &.active {
//                         a {
//                             color: #2ab0ed;
//                         }
//                     }
//                 }
//             }

//             @media (max-width: 991.98px) {
//                 position: absolute;
//                 top: 100%;
//                 left: 0;
//                 width: 100%;
//                 background-color: $white;
//                 z-index: 999;
//                 display: none;

//                 ul {
//                     flex-direction: column;
//                     padding-top: 10px;
//                     padding-bottom: 20px;

//                     li {
//                         a {
//                             font-size: 18px;
//                             font-family: $bodyFont;
//                             padding-left: 15px;
//                         }
//                     }
//                 }
//              }
//         }

//         .cart {
//             margin-left: auto;

//             @media (max-width: 991.98px) {
//                 display: none;
//             }
            

//             > a {
//                 font-size: 32px;
//                 margin-right: 30px;
//                 display: inline-block;
//                 color: $titleColor;

//                 @media (max-width: 1200px) {
//                     font-size: 26px;
//                     margin-right: 20px;
//                 }
//             }
//         }

//         .social {
//             @media (max-width: 991.98px) {
//                 display: none;
//             }

//             ul {
//                 display: flex;

//                 li {
//                     a {
//                         width: 50px;
//                         height: 50px;
//                         border-radius: 5px;
//                         border: 1px solid #ddd;
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         margin-left: 10px;
//                         font-size: 22px;
//                         color: $titleColor;

//                         @media (max-width: 1200px) {
//                             width: 40px;
//                             height: 40px;
//                             font-size: 18px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }


.header {
    background-color: $white;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    transition: all .3s;

    .top {
        .dropdown {
            a,
            button {
                display: flex;
                align-items: center;
                font-weight: 700;

                img {
                    width: 18px;
                    margin-right: 5px;
                }
            }
        }
    }

    .navbar-brand {
        img {
            transition: all linear .3s;
        }
    }

    &.active {
        padding: 5px 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

        .navbar-brand {
            img {
                height: 50px;
            }
        }

    }

    
    @media (max-width: 1199.98px) {
        .navbar-toggler {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
    
            i {
                margin-top: 5px;
            }
    
            :focus {
                outline: 0;
            }
        }
        .dropdown-list {
            margin-bottom: 20px;
        }
    }

    ul {
        list-style: none;

        li {
            a {
                display: block;
                font-family: $titleFont;
                font-size: 18px;
                color: #617487;
                padding: 5px 10px;

                @media (max-width: 1200px) {
                    font-size: 16px;
                    padding: 5px 8px;
                }

                &:hover,
                &.active {
                    color: #2ab0ed;
                }
            }

        }

        .dropdown {
            a {
                display: flex;
                align-items: center;

                img {
                    width: 18px;
                    margin-right: 5px;
                }
            }
        }
    }

    .social {
        display: flex;

        li {
            a {
                width: 50px;
                height: 50px;
                border-radius: 5px;
                border: 1px solid #ddd;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                font-size: 22px;
                color: $titleColor;
                font-weight: 400;

                @media (max-width: 1200px) {
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                }
            }
        }
    }
}