.footer {
    background-color: #023569;
    padding: 106px 0px 0px;

    .footer-item {
        h3 {
            font-size: 26px;
            color: $white;
            margin-bottom: 15px;
            font-family: $titleFont;
            line-height: 34px;
        }

        ul {
            li {
                a {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 28px;
                    color: #bad8f2;
                    margin-bottom: 7px;
                }
            }

            &.contact {
                li {
                    position: relative;
                    padding-left: 30px;

                    i {
                        position: absolute;
                        top: 6px;
                        left: 0;
                        font-size: 16px;
                    }
                }
            }

            &.social {
                display: flex;
                margin-top: 20px;

                li {
                    a {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #BAD8F2;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 12px;
                        color: $white;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .copyright {
        background-color: $white;
        padding: 50px 0;
        position: relative;
        margin-top: 120px;

        .content {
            display: flex;
            align-items: center;

            @media (max-width: 767.98px) {
                justify-content: center;
                text-align: center;
            }

            > p,
            > a,
            > ul {
                flex: 1;
            }

            > a {
                position: absolute;
                left: 50%;
                top: -70px;
                transform: translateX(-50%);
                width: 150px;
                height: 130px;
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;

                img {
                    width: 90px;
                }
            }

            > p {
                font-size: 20px;
                line-height: 30px;
                color: $titleColor;
                margin-bottom: 0;

                @media (max-width: 767.98px) {
                    padding-top: 50px;
                }
            }

            ul {
                display: flex;
                justify-content: flex-end;

                @media (max-width: 767.98px) {
                    display: none;
                }

                li {
                    a {
                        display: block;
                        font-size: 20px;
                        color: $titleColor;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}