.testimonial {
    padding-top: 135px;

    .text {
        h2 {
            font-size: 60px;
            line-height: 70px;
            color: $titleColor;
        }

        .stars {
            display: flex;
            padding: 30px 0;

            i {
                display: inline-block;
                font-size: 22px;
                color: #ffba00;
                margin-left: 10px;
            }
        }

        p {
            font-size: 33px;
            line-height: 54px;
            color: #617487;
            font-family: $titleFont;
        }

        h5 {
            font-size: 24px;
            line-height: 28px;
            color: $titleColor;
            padding-bottom: 50px;
            padding-top: 15px;
        }

        .apply-btn {
            display: inline-block;
            font-family: $titleFont;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 37px;
            -webkit-box-shadow: 0px 10px 30px 0px rgba(42, 175, 237, 0.192);
            box-shadow: 0px 10px 30px 0px rgba(42, 175, 237, 0.192);
            padding: 18px 55px;
            background-color: #2ab0ed;
            color: #ffffff;
        }

        @media (max-width: 991.98px) {
            h2 {
                font-size: 48px;
                line-height: 58px;
            }

            .stars {
                i {
                    font-size: 18px;
                }
            }

            p {
                font-size: 18px;
                line-height: 28px;
                font-family: $bodyFont;
            }
        }
    }
}