.faq-page {
    padding: 10px 0 100px;

    @media (max-width: 767.98px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-tabs {
        border: 0;
        justify-content: flex-start;
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
      
        .nav-link {
            border-color: transparent;
            background-color: $primary-color;
            color: $white !important;
            border-radius: 5px;
            margin: 0 10px 10px 0;
            display: flex;
            align-items: center;

            img {
                height: 25px;
                margin-right: 5px;
                filter: brightness(0) invert(1);
            }

            &:hover,
            &.active {
                background-color: #2ab0ed;
            }
        }
    }

    .tab-content {
        max-width: 960px;
        margin: 50px auto;

        .faq-item {
            margin-bottom: 20px;
            // box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
            border: 1px solid #eee;
            

            a {
                display: block;
                color: $bColor;
                transition: $transition;
                font-size: 18px;
                line-height: 28px;
                font-weight: 500;
                position: relative;
                padding: 15px 15px 15px 40px;
                color: $bColor;
                transition: all .2s !important;

                i {
                    position: absolute;
                    top: 22px;
                    left: 15px;
                    font-size: 14px;
                    transition: all .2s !important;
                }

                &:hover,
                &.active {
                    background-color: #2ab0ed;
                    color: $white;

                    i {
                        color: $white;
                    }
                }
            }

            .collapse-text {
                padding: 15px;

                p {
                    margin-bottom: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }

    .reviews {
        padding: 100px 0 0;

        h2 {
            text-align: center;
            margin-bottom: 40px;
        }

        [class^="col"] {
            margin-bottom: 30px;
        }

        .review-item {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
            height: 100%;
            background-color: $white;
            padding: 20px;

            span {
                font-weight: 600;
                color: #2ab0ed;

                &::before {
                    content: '- ';
                }
            }
        }
    }
}